[submodule "accounts/nubis-market/deploy"]
	path = accounts/nubis-market/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/mozilla-iam/deploy"]
	path = accounts/mozilla-iam/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/mozilla-iam-ctf/deploy"]
	path = accounts/mozilla-iam-ctf/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
