[submodule "accounts/moc-prometheus/deploy"]
	path = accounts/moc-prometheus/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-market/deploy"]
	path = accounts/nubis-market/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-training/deploy"]
	path = accounts/nubis-training/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/akamai/deploy"]
	path = accounts/akamai/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
