[submodule "accounts/moc-prometheus/deploy"]
	path = accounts/moc-prometheus/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-market/deploy"]
	path = accounts/nubis-market/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-training/deploy"]
	path = accounts/nubis-training/deploy
    url = https://github.com/nubisproject/nubis-deploy.git
    branch = develop
[submodule "accounts/akamai/deploy"]
	path = accounts/akamai/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-gozer/deploy"]
	path = accounts/nubis-gozer/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
        branch = develop
[submodule "accounts/nubis-lab/deploy"]
	path = accounts/nubis-lab/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-limed/deploy"]
	path = accounts/nubis-limed/deploy
	url = http://github.com/nubisproject/nubis-deploy.git
[submodule "accounts/nubis-jd/deploy"]
	path = accounts/nubis-jd/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
        branch = develop
[submodule "accounts/bugzilla/deploy"]
	path = accounts/bugzilla/deploy
	url = https://github.com/nubisproject/nubis-deploy.git
